* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Nunito Sans", sans-serif !important;
    background-color: rgba(0, 0, 0, 0.5);
}

body::selection {
    background-color: #febe0fad;
    color: black;
}

a {
    text-decoration: none;
}


.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small Screen */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium Screen */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large Screen */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* fade out animation */

element{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 3px;
    background: linear-gradient(90deg, transparent, #FEBF0F, transparent);
    transform: translateX(-50%);
    animation: expandLine 3s ease infinite alternate;
}

@keyframes expandLine {
    0% {
        width: 0;
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        width: 100%;
        opacity: 1;
    }
}